<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="checkbox">
        <label><input type="checkbox" value="" class="">Option 1</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 2</label>
    </div>
    <div class="checkbox disabled">
        <label><input type="checkbox" value="" disabled>Option 3</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 1</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 2</label>
    </div>
    <div class="checkbox disabled">
        <label><input type="checkbox" value="" disabled>Option 3</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 1</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 2</label>
    </div>
    <div class="checkbox disabled">
        <label><input type="checkbox" value="" disabled>Option 3</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 1</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 2</label>
    </div>
    <div class="checkbox disabled">
        <label><input type="checkbox" value="" disabled>Option 3</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 1</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 2</label>
    </div>
    <div class="checkbox disabled">
        <label><input type="checkbox" value="" disabled>Option 3</label>
    </div>
</body>
</html>